<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">
    <form action="/wikis/<%= wikiId %>/collaborators/create" method="post">
      <div class="card mt-3" id="cardCollaborator">
        <div class="card-header text-center">
          <h2>Add Collaborators</h2>
          <small class="text-muted">creator: <%= currentUser.email %></small>
        </div>
        <div class="card-body">
          <% users.forEach(user => { %>
            <h5 class="d-inline-flex"><%= user.email %></h5>
            <input class="d-flex justify-content-end float-right" type="checkbox" name="emails" value="<%= user.email %>">
            <br>
          <% }) %>
          <% collaborators.forEach(colla => { %>
            <h5 class="d-inline-flex"><%= colla.email %></h5>
            <input class="d-flex justify-content-end float-right" type="checkbox" name="emails" value="<%= colla.email %>" checked>
            <br>
          <% }) %>
        </div>
        <div class="card-footer text-muted text-center">
          <button type='submit' class='btn btn-info'>Share Wiki</button>
        </div>
      </div>
    </form>
  </main>
  
  <% include ../static/partials/baseScripts.ejs %>
</body>
</html>