<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">
    <% include ../static/partials/messages.ejs %>

    <h1>Edit Wiki</h1>

    <form action="/wikis/<%= wiki.id %>/update" method="post">
      <div class="form-group">
          <label for="title">Title</label>
          <input type="text"  value="<%= wiki.title %>" name="title" class="form-control" placeholder="Enter Title" aria-describedby="titleHelp">
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea name="body" rows="4" class="form-control" placeholder="Enter Body"><%= wiki.body %></textarea>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input 
              type="radio" 
              id="publicRadio" 
              name="private" 
              class="custom-control-input" 
              value=false 
              <%= !wiki.private && "checked" %> 
              <%= currentUser.id !== wiki.userId && "disabled" %>
            >
            <label class="custom-control-label" for="publicRadio">Public</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input 
            type="radio" 
            id="privateRadio" 
            name="private"
            value=true
            class="custom-control-input"
            <%= currentUser.role === "member" && "disabled" %>
            <%= wiki.private && "checked" %>
          >
          <label class="custom-control-label" for="privateRadio">Private</label>
        </div>
  
        <% if (currentUser.role === "member") { %>
          <small class="text-muted">Only premium member can create private wiki</small>
        <% } %>
        <br>
        <button type='submit' class='btn btn-primary mt-3'>Update</button>
    </form>

  </main>

  <% include ../static/partials/baseScripts.ejs %>
</body>
</html>