<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>

  <main class='container'>

    <% include ../static/partials/messages.ejs %>

    <h1><%= wiki.title %></h1>

  
    <small class="text-muted">created by <%= user.email %></small>

    <% if (currentUser) { %>
      <% if (currentUser.id === wiki.userId || currentUser.isAdmin()) { %>

        <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning d-inline-block">Edit</a>

        <form class="d-inline-block" action="/wikis/<%= wiki.id %>/destroy" method="post">
    
          <button type='button' class='btn btn-danger' data-toggle="modal" data-target="#Modal">Delete</button>

          <% include ../static/partials/delete_modal.ejs %>

        </form>
        
      <% } %>
    <% } %>

    <p><%- body %></p>

  </main>

  <% include ../static/partials/baseScripts.ejs %>
</body>
</html>